.App {
  text-align: center;
  background: #424250;
  padding: 30px 0;
  height: 100vh;
  max-height: auto;
}

h1 {
  font-size: 50px;
  width: 700px;
  border-bottom: 1px solid hsla(0,0%,98%,.25);
  padding-bottom: 15px;
  margin: 0 auto;
  color: #fff;
}


.questionCount {
  font-size: 20px;
  color: #afafaf;
}

.question {
  font-size: 30px;
  width: 900px;
  max-width: 900px;
  margin: 25px auto;
  color: #fff;
  word-break: break-all;
}

.answerOptions {
  width: 900px;
  margin: 0 auto;
}

.toast-success {
  color: #1af59d;
}

.toast-failure {
  color: #a70303d1;
}

button {
  border: none;
  background: #fff;
  color: #000;
  padding: 5px 4px;
  width: 300px;
  margin: 15px;
  font-size: 24px;
  line-height: 1.5;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
}

h2 {
  color: #05d7ff;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}